Repository wyattowalsh/riso: changes, and which Codecov flags are due for each by the changed paths.
All: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, Template Hooks, CI/CD Scripts, Template Files

codecov.yml:

# Codecov configuration for Riso template system
# See: https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 80%                    # Target coverage
        threshold: 2%                  # Allow 2% drop
        if_ci_failed: error           # Fail if CI failed
        if_not_found: success         # Allow missing coverage files
        only_pulls: false             # Report on all commits

    # Patch coverage (changes in PR)
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
        if_not_found: success
        only_pulls: true              # Only for pull requests

    # Changes coverage (lines changed)
    changes:
      default:
        if_ci_failed: error
        if_not_found: success
        only_pulls: true

# Comment configuration for pull requests
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  branches:
    - main
    - develop

# GitHub Checks integration
github_checks:
  annotations: true

# Ignore paths from coverage
ignore:
  - "tests/**/*"
  - "**/__pycache__/**/*"
  - "**/.venv/**/*"
  - "**/venv/**/*"
  - "**/node_modules/**/*"
  - "**/.git/**/*"
  - "**/build/**/*"
  - "**/dist/**/*"
  - "**/*.pyc"
  - "samples/**/*"
  - ".codex/**/*"
  - "htmlcov/**/*"

# Flags for different test suites (matches CI matrix)
flags:
  # Python version flags
  py3.11-standard:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.11-strict:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.12-standard:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.12-strict:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.13-standard:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.13-strict:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

# Component configuration
component_management:
  individual_components:
    - component_id: scripts
      name: Scripts
      paths:
        - scripts/**/*.py

    - component_id: hooks
      name: Template Hooks
      paths:
        - template/hooks/**/*.py

    - component_id: ci
      name: CI/CD Scripts
      paths:
        - scripts/ci/**/*.py

    - component_id: templates
      name: Template Files
      paths:
        - template/files/**/*.py.jinja

# Pull request comment customization
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

# Annotation behavior
annotations:
  range: 70..100
  round: down
  precision: 2

# Require uploading coverage from all matrix jobs
# This ensures we get comprehensive coverage across Python versions
flag_management:
  default_rules:
    carryforward: false
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: auto
        threshold: 5%

test(ci): align platform template tests with ty ssot
  tests/unit/test_circleci_templates.py
  tests/unit/test_gitlab_ci_templates.py
  tmp/riso-ci-evidence.json
Due: none

fix(template): harden python api template for pylint
  template/files/python/.pylintrc.jinja
  template/files/python/pyproject.toml.jinja
  template/files/python/src/{{ package_name }}/api/config.py.jinja
  template/files/python/src/{{ package_name }}/api/main.py.jinja
  template/files/python/src/{{ package_name }}/api/middleware/errors.py.jinja
  template/files/python/src/{{ package_name }}/api/middleware/request_id.py.jinja
  template/files/python/src/{{ package_name }}/api/routes/examples.py.jinja
  template/files/python/src/{{ package_name }}/api/routes/health.py.jinja
  template/files/python/src/{{ package_name }}/cli/__main__.py.jinja
  template/files/python/src/{{ package_name }}/cli/commands/example_async.py.jinja
  template/files/python/tests/api/test_examples.py.jinja
  template/files/python/tests/api/test_health.py.jinja
  template/files/python/tests/conftest.py.jinja
  template/files/python/tests/test_cli.py.jinja
  template/files/quality/pylintrc.jinja
Due: Template Files

feat(web): add task_runner to configurator wizard
  web/src/components/FileTreePreview.tsx
  web/src/components/steps/ProjectBasics.tsx
  web/src/components/steps/ReviewOutput.tsx
  web/src/data/matrix-data.json
  web/src/lib/store.ts
Due: none

fix(template): harden CLI test assertions for waves 3–10 assurance
  template/files/python/tests/test_cli.py.jinja
  template/files/python/tests/test_cli_commands.py.jinja
  template/files/python/tests/test_cli_config.py.jinja
Due: Template Files

chore(samples): add makefile-runner variant
  samples/makefile-runner/copier-answers.yml
Due: none

chore(makefile): add validate-agents maintainer target
  AGENTS.md
  Makefile
Due: none

feat(template): vendor shadcn ui components for saas starter
  scripts/ci/sync_template_shadcn_components.py
  template/files/node/saas/components/ui/avatar.tsx.jinja
  template/files/node/saas/components/ui/badge.tsx.jinja
  template/files/node/saas/components/ui/button.tsx.jinja
  template/files/node/saas/components/ui/card.tsx.jinja
  template/files/node/saas/components/ui/collapsible.tsx.jinja
  template/files/node/saas/components/ui/command.tsx.jinja
  template/files/node/saas/components/ui/dialog.tsx.jinja
  template/files/node/saas/components/ui/dropdown-menu.tsx.jinja
  template/files/node/saas/components/ui/input.tsx.jinja
  template/files/node/saas/components/ui/label.tsx.jinja
  template/files/node/saas/components/ui/select.tsx.jinja
  template/files/node/saas/components/ui/separator.tsx.jinja
  template/files/node/saas/components/ui/switch.tsx.jinja
  template/files/node/saas/components/ui/table.tsx.jinja
  template/files/node/saas/components/ui/tabs.tsx.jinja
  template/files/node/saas/integrations/feature-flags/posthog.server.ts.jinja
  template/files/node/saas/integrations/feature-flags/posthog.tsx.jinja
  template/files/node/saas/package.json.jinja
  template/files/node/saas/runtime/nextjs/app/globals.css.jinja
  template/files/node/saas/scripts/security-audit.ts.jinja
  template/files/node/saas/scripts/setup-wizard.ts.jinja
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, CI/CD Scripts

test(template): add task_runner and quality parity coverage
  tests/automation/sync_test.py
  tests/test_precommit.py
  tests/unit/ci/test_check_quality_parity.py
  tests/unit/ci/test_render_precommit_configs.py
  tests/unit/test_task_runner_templates.py
Due: none

chore(deps): bump template npm pins and lockfile
  pnpm-lock.yaml
  template/files/node/docs/docusaurus/package.json.jinja
  template/files/node/docs/fumadocs/next.config.ts.jinja
  template/files/node/docs/fumadocs/package.json.jinja
  tests/unit/scripts/test_bump_npm_deps.py
Due: none

chore(samples): add slug and package_name to copier answers
  samples/changelog-monorepo/copier-answers.yml
  samples/default/baseline_quickstart_metrics.json
  samples/docs-fumadocs-full/copier-answers.yml
  samples/saas-starter/all-in-one/copier-answers.yml
  samples/saas-starter/b2b-teams-full/copier-answers.yml
  samples/saas-starter/b2c-consumer-app/copier-answers.yml
  samples/saas-starter/edge-optimized/copier-answers.yml
  samples/saas-starter/enterprise-ready/copier-answers.yml
  samples/saas-starter/nextjs-vercel-neon-clerk-workos/copier-answers.yml
  samples/saas-starter/nextjs-vercel-neon-clerk/copier-answers.yml
  samples/saas-starter/nextjs-vercel-supabase-clerk/copier-answers.yml
  samples/saas-starter/prelaunch-waitlist/copier-answers.yml
  samples/saas-starter/remix-cloudflare-neon-drizzle/copier-answers.yml
  samples/saas-starter/vercel-starter/copier-answers.yml
Due: none

ci: validate task_runner in precommit and quality sync
  .github/workflows/quality.yml
  scripts/ci/agent_smoke_agents_md.py
  scripts/ci/check_quality_parity.py
  scripts/ci/render_precommit_configs.py
  scripts/ci/validate_agents_ecosystem.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, CI/CD Scripts

docs: sync quality context for task_runner default
  .github/context/quality.md
  docs/modules/quality.md.jinja
  template/files/.github/context/quality.md
Due: none

style: normalize trailing newlines from pre-push hook
  .agents/skills/riso-release-readiness/SKILL.md
  .agents/skills/riso-release-readiness/references/no-legacy-answer-policy.md
  .agents/skills/riso-release-readiness/references/release-gates.md
  .agents/skills/riso-release-readiness/references/task-graph.md
  .agents/skills/riso-release-readiness/scripts/collect_release_evidence.py
  .claude/skills/riso-release-readiness/SKILL.md
  .claude/skills/riso-release-readiness/references/no-legacy-answer-policy.md
  .claude/skills/riso-release-readiness/references/release-gates.md
  .claude/skills/riso-release-readiness/references/task-graph.md
  .claude/skills/riso-release-readiness/scripts/collect_release_evidence.py
  .github/context/quality.md
  samples/default/baseline_quickstart_metrics.json
  samples/makefile-runner/copier-answers.yml
  scripts/ci/sync_template_shadcn_components.py
  specs/016-prod-release-readiness/contracts/answer-schema.json
  specs/016-prod-release-readiness/contracts/release-gates.schema.json
  specs/016-prod-release-readiness/data-model.md
  specs/016-prod-release-readiness/plan.md
  specs/016-prod-release-readiness/quickstart.md
  specs/016-prod-release-readiness/research.md
  specs/016-prod-release-readiness/tasks.md
  tests/unit/scripts/test_bump_npm_deps.py
  tests/unit/test_task_runner_templates.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, CI/CD Scripts

fix(ci): restore GitHub Actions after task_runner rollout
  .agents/skills/riso-release-readiness/scripts/collect_release_evidence.py
  .claude/skills/riso-release-readiness/scripts/collect_release_evidence.py
  .github/workflows/matrix-data.yml
  .github/workflows/template-ci.yml
  scripts/automation/generate_preset_trees.py
  scripts/ci/agent_smoke_agents_md.py
  scripts/ci/bump_template_npm_deps.py
  scripts/ci/check_quality_parity.py
  scripts/ci/sync_template_shadcn_components.py
  scripts/ci/validate_agents_ecosystem.py
  scripts/ci/validate_release_readiness_skill.py
  scripts/render-samples.sh
  template/files/node/saas/scripts/security-audit.ts.jinja
  template/files/node/saas/scripts/setup-wizard.ts.jinja
  tests/integration/test_rendered_precommit.py
  tests/unit/hooks/test_post_gen_project.py
  tests/unit/template/test_agents_md_render.py
  web/tests/e2e/README.md
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, CI/CD Scripts

fix(test): isolate bump npm deps fixture from sample renders
  tests/unit/scripts/test_bump_npm_deps.py
  web/src/components/warnings/README.md
Due: none

fix(ci): clear ty diagnostics and pre-commit formatting drift
  .agents/skills/riso-release-readiness/SKILL.md
  .claude/skills/riso-release-readiness/SKILL.md
  AGENTS.md
  docs/research/saas-starter-research-prompts.md
  docs/research/saas-starter-synthesis-report.md
  scripts/ci/agent_smoke_agents_md.py
  scripts/ci/bump_template_npm_deps.py
  scripts/ci/render_matrix.py
  scripts/ci/validate_saas_combinations.py
  specs/016-prod-release-readiness/plan.md
  template/COMPARISON_PAGE.md
  template/hooks/post_gen_project.py
  template/hooks/pre_gen_project.py
  tests/unit/scripts/test_bump_npm_deps.py
  tests/unit/test_task_runner_templates.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, Template Hooks, CI/CD Scripts

fix(hooks): keep ToolCheck export for hook unit tests
  template/hooks/post_gen_project.py
  template/hooks/pre_gen_project.py
  tests/unit/hooks/test_pre_gen_project.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Template Hooks

fix(ci): unblock Release docs and Template CI strict quality
  docs/api/index.md
  docs/guides/index.md
  docs/guides/mcp-to-cli-migration.md
  docs/index.md
  scripts/ci/run_quality_suite.py
  template/hooks/post_gen_project.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, Template Hooks, CI/CD Scripts

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  2d5fb32a4bc4128872b6e34f53b25bf103bfce4c
Due: none

style(docs): mdformat index toctree updates
  docs/api/index.md
  docs/index.md
Due: none

fix(ci): install uv before quality matrix aggregate step
  .github/workflows/quality-matrix.yml
Due: none

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  698c4ff4270afaa045e3b37bbe559810f2bd75fe
Due: none

fix(ci): inline quality matrix jobs in Template CI workflow
  .github/workflows/template-ci.yml
Due: none
