Repository wyattowalsh/riso: changes, and which Codecov flags are due for each by the changed paths.
All: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, Template Hooks, CI/CD Scripts, Template Files

codecov.yml:

# Codecov configuration for Riso template system
# See: https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 80%                    # Target coverage
        threshold: 2%                  # Allow 2% drop
        if_ci_failed: error           # Fail if CI failed
        if_not_found: success         # Allow missing coverage files
        only_pulls: false             # Report on all commits

    # Patch coverage (changes in PR)
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
        if_not_found: success
        only_pulls: true              # Only for pull requests

    # Changes coverage (lines changed)
    changes:
      default:
        if_ci_failed: error
        if_not_found: success
        only_pulls: true

# Comment configuration for pull requests
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  branches:
    - main
    - develop

# GitHub Checks integration
github_checks:
  annotations: true

# Ignore paths from coverage
ignore:
  - "tests/**/*"
  - "**/__pycache__/**/*"
  - "**/.venv/**/*"
  - "**/venv/**/*"
  - "**/node_modules/**/*"
  - "**/.git/**/*"
  - "**/build/**/*"
  - "**/dist/**/*"
  - "**/*.pyc"
  - "samples/**/*"
  - ".codex/**/*"
  - "htmlcov/**/*"

# Flags for different test suites (matches CI matrix)
flags:
  # Python version flags
  py3.11-standard:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.11-strict:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.12-standard:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.12-strict:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.13-standard:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.13-strict:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

# Component configuration
component_management:
  individual_components:
    - component_id: scripts
      name: Scripts
      paths:
        - scripts/**/*.py

    - component_id: hooks
      name: Template Hooks
      paths:
        - template/hooks/**/*.py

    - component_id: ci
      name: CI/CD Scripts
      paths:
        - scripts/ci/**/*.py

    - component_id: templates
      name: Template Files
      paths:
        - template/files/**/*.py.jinja

# Pull request comment customization
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

# Annotation behavior
annotations:
  range: 70..100
  round: down
  precision: 2

# Require uploading coverage from all matrix jobs
# This ensures we get comprehensive coverage across Python versions
flag_management:
  default_rules:
    carryforward: false
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: auto
        threshold: 5%

test: add unit tests for pre_gen_project hook [TEST-004]
  tests/unit/hooks/test_pre_gen_project.py
Due: none

test: add unit tests for record_module_success [TEST-005]
  scripts/ci/record_module_success.py
  tests/unit/ci/test_record_module_success.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, CI/CD Scripts

test: add unit tests for validate_dockerfiles [TEST-006]
  tests/unit/ci/test_validate_dockerfiles.py
Due: none

test: add unit tests for validate_release_configs [TEST-003]
  tests/unit/ci/test_validate_release_configs.py
Due: none

chore(ci): add Dependabot configuration for dependency updates [CI-005]
  .github/dependabot.yml
Due: none

refactor: extract common environment loading logic [REF-001]
  template/hooks/pre_gen_project.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Template Hooks

chore(ci): add actionlint workflow validation [CI-004]
  .github/workflows/quality.yml
Due: none

refactor: use specific exception types instead of broad Exception [REF-002]
  scripts/automation/render_client.py
  scripts/ci/render_matrix.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, CI/CD Scripts

test: add unit tests for render_matrix [TEST-008]
  tests/unit/ci/test_render_matrix.py
Due: none

test: add unit tests for validate_workflows [TEST-007]
  tests/unit/ci/test_validate_workflows.py
Due: none

test: add unit tests for quality_tool_check [TEST-009]
  tests/unit/hooks/test_quality_tool_check.py
Due: none

chore: add development dependency groups [CFG-003]
  pyproject.toml
Due: none

docs: add contributing guidelines [DOC-005]
  CONTRIBUTING.md
Due: none

chore(ci): add pip-audit security scanning [CI-006]
  .github/workflows/quality.yml
Due: none

test: add integration tests for template rendering [TEST-010]
  tests/integration/test_template_rendering.py
Due: none

docs: add API documentation for scripts [DOC-004]
  docs/api/scripts.md
  tests/fixtures/yaml_samples/invalid_yaml.yml
  tests/fixtures/yaml_samples/valid_commitlint.yml
  tests/fixtures/yaml_samples/valid_releaserc.yml
Due: none

feat: ensure smoke-results.json generation for samples [FEAT-001]
  scripts/render-samples.sh
  tests/fixtures/json_samples/module_success.json
  tests/fixtures/json_samples/smoke_results_failures.json
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict

refactor: normalize type hints to modern Python style [REF-003]
  scripts/automation/render_client.py
  scripts/ci/record_module_success.py
  scripts/ci/track_doc_publish.py
  scripts/hooks/quality_tool_check.py
  scripts/hooks/workflow_validator.py
  template/hooks/post_gen_project.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, Template Hooks, CI/CD Scripts

Complete refactoring and feature tasks from audit
  .github/workflows/quality.yml
  .gitignore
  scripts/automation/render_client.py
  scripts/ci/record_module_success.py
  scripts/ci/render_matrix.py
  scripts/ci/validate_release_configs.py
  scripts/ci/validate_saas_combinations.py
  scripts/lib/USAGE.md
  scripts/lib/__init__.py
  scripts/lib/validation.py
  template/hooks/post_gen_project.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, Template Hooks, CI/CD Scripts

feat: replace mypy with ty as default Python type checker
  AGENTS.md
  README.md
  docs/modules/quality.md.jinja
  pyproject.toml
  scripts/hooks/quality_tool_check.py
  template/copier.yml
  template/files/python/mypy.ini
  template/files/python/mypy.ini.jinja
  template/files/python/pyproject.toml.jinja
  template/files/python/tasks/quality.py.jinja
  template/files/shared/.github/workflows/riso-quality.yml.jinja
  template/files/shared/quality/makefile.quality.jinja
  template/files/shared/quality/mypy.ini.jinja
  template/files/shared/quality/uv_tasks/quality.py.jinja
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, Template Files
