Repository wyattowalsh/riso: changes, and which Codecov flags are due for each by the changed paths.
All: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, Template Hooks, CI/CD Scripts, Template Files

feat: add comprehensive performance benchmarking infrastructure
  .github/workflows/benchmark.yml
  scripts/benchmarks/__init__.py
  scripts/benchmarks/benchmark_copier.py
  scripts/benchmarks/benchmark_rendering.py
  scripts/benchmarks/check_regressions.py
  scripts/benchmarks/summarize_benchmarks.py
  tests/benchmarks/__init__.py
  tests/benchmarks/test_benchmarks.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts

docs: add comprehensive E2E audit report for riso project
  AUDIT_REPORT.md
Due: none

docs: add structured task list from audit report
  AUDIT_TASKS.json
  AUDIT_TASKS.md
Due: none

Add comprehensive E2E audit report
  AUDIT_REPORT.md
Due: none

Add comprehensive task list optimized for Claude Code subagents
  TASKS.md
Due: none

fix(security): pin trivy-action to stable version [SEC-002]
  template/files/node/saas/.github/workflows/ci.yml.jinja
Due: none

fix(security): replace curl|sh with official uv action [SEC-003]
  template/files/shared/.github/workflows/riso-matrix.yml.jinja
  template/files/shared/.github/workflows/riso-quality.yml.jinja
Due: none

fix(security): validate COPIER_CMD to prevent command injection [SEC-001]
  scripts/render-samples.sh
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict

fix(security): add concurrency controls to prevent overlapping runs [SEC-004]
  .github/workflows/quality.yml
  template/files/node/saas/.github/workflows/ci.yml.jinja
  template/files/node/saas/.github/workflows/database.yml.jinja
  template/files/shared/.github/workflows/quality-matrix.yml.jinja
  template/files/shared/.github/workflows/riso-container-build.yml.jinja
  template/files/shared/.github/workflows/riso-container-publish.yml.jinja
  template/files/shared/.github/workflows/riso-matrix.yml.jinja
  template/files/shared/.github/workflows/riso-quality.yml.jinja
  template/files/shared/.github/workflows/riso-release.yml.jinja
  template/files/shared/.github/workflows/template-ci.yml.jinja
Due: none

test: add pytest and coverage configuration [TEST-001]
  pyproject.toml
Due: none

chore(ci): update GitHub Actions to latest versions [CI-001]
  .github/workflows/quality.yml
Due: none

fix(security): use yaml.safe_load instead of manual parsing [SEC-006]
  template/hooks/post_gen_project.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Template Hooks

fix(security): fix file handle resource leak in hadolint execution [SEC-007]
  scripts/ci/render_matrix.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, CI/CD Scripts

fix(security): add URL validation for variant names [SEC-008]
  scripts/automation/render_client.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts

chore(ci): add if-no-files-found to artifact uploads [CI-002]
  .github/workflows/quality.yml
  template/files/shared/.github/workflows/riso-matrix.yml.jinja
Due: none

fix(security): add validation for environment-loaded config values [SEC-005]
  template/hooks/pre_gen_project.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Template Hooks

test: create test directory structure and fixtures [TEST-002]
  tests/conftest.py
  tests/fixtures/__init__.py
  tests/fixtures/json_samples/smoke_results_pass.json
  tests/fixtures/yaml_samples/invalid_missing_name.yml
  tests/fixtures/yaml_samples/valid_copier_answers.yml
  tests/integration/__init__.py
  tests/unit/__init__.py
  tests/unit/ci/__init__.py
  tests/unit/hooks/__init__.py
Due: none

docs: complete project constitution with governance principles [DOC-002]
  .specify/memory/constitution.md
Due: none

chore: update pyproject.toml with proper metadata [CFG-001]
  pyproject.toml
Due: none

docs: expand README with comprehensive documentation [DOC-001]
  README.md
Due: none

Path conditions:
  py3.11-standard: any of: scripts/, template/hooks/, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  py3.11-strict: any of: scripts/, template/hooks/, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  py3.12-standard: any of: scripts/, template/hooks/, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  py3.12-strict: any of: scripts/, template/hooks/, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  py3.13-standard: any of: scripts/, template/hooks/, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  py3.13-strict: any of: scripts/, template/hooks/, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  Scripts: any of: scripts/**/*.py, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  Template Hooks: any of: template/hooks/**/*.py, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  CI/CD Scripts: any of: scripts/ci/**/*.py, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  Template Files: any of: template/files/**/*.py.jinja, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
