Repository wyattowalsh/riso: changes, and which Codecov flags are due for each by the changed paths.
All: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, Template Hooks, CI/CD Scripts, Template Files

docs(docs): W4 ASSURANCE report and handoffs closeout
  goals/riso-lanes-assurance/ASSURANCE.md
  goals/riso-lanes-assurance/evidence/W4-A-T01-gates.md
  goals/riso-lanes-assurance/evidence/W4-A-T01-validate-spot.json
  goals/riso-lanes-assurance/evidence/W4-A-T03-pathlock.md
  goals/riso-lanes-assurance/evidence/W4-A-T04-riso-mcp.txt
  goals/riso-lanes-assurance/handoffs-board.md
  goals/riso-lanes-assurance/residuals/ASSURANCE.md
Due: none

feat(cli): add migrate and apply-then-reject remaps
  scripts/ci/check_removed_key_ssot.py
  scripts/lib/paths.py
  scripts/lib/removed_answer_keys.py
  src/riso/cli/app.py
  src/riso/cli/commands/diff.py
  src/riso/cli/commands/export.py
  src/riso/cli/commands/migrate.py
  src/riso/cli/commands/recopy.py
  src/riso/cli/commands/update.py
  src/riso/cli/helpers.py
  src/riso/cli/output.py
  src/riso/core/__init__.py
  src/riso/core/answers.py
  src/riso/core/diff.py
  src/riso/core/generation_gates.py
  src/riso/core/removed_answer_keys.py
  src/riso/template/__init__.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, CI/CD Scripts

fix(hooks): remap answers before generation
  template/hooks/post_gen_project.py
  template/hooks/pre_gen_project.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Template Hooks

fix(template): make fumadocs static export build
  template/files/node/docs/fumadocs/app/api/search/route.ts.jinja
  template/files/node/docs/fumadocs/app/llms.mdx/docs/[[...slug]]/route.ts.jinja
  template/files/node/docs/fumadocs/app/robots.ts.jinja
  template/files/node/docs/fumadocs/app/sitemap.ts.jinja
Due: none

fix(ci): isolate sample smoke from parent venv
  .gitignore
  scripts/render-samples.sh
  tests/unit/ci/test_render_samples_variant_names.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict

fix(template): give dest quality the api extras
  template/files/quality/.pylintrc.jinja
  template/files/quality/justfile.quality.jinja
  template/files/quality/makefile.quality.jinja
  template/files/quality/uv_tasks/quality.py.jinja
Due: Template Files

docs: add v2 migration and dest tool guides
  .github/context/quality.md
  CHANGELOG.md
  README.md
  docs/changelog.md
  docs/guides/ci-platforms.md
  docs/guides/implementation-guide.md
  docs/guides/index.md
  docs/guides/quickstart.md
  docs/guides/roadmap.md
  docs/guides/testing-strategy.md
  docs/guides/troubleshooting.md
  docs/guides/v2-migration.md
  docs/index.md
  docs/modules/quality.md.jinja
  docs/modules/workflows.md.jinja
  docs/quickstart.md.jinja
  docs/tools/index.md
  docs/tools/riso-cli.md
  docs/tools/ruff.md
  docs/tools/ty.md
  docs/tools/uv.md
  docs/upgrade-guide.md.jinja
Due: none

ci: harden release gates and skill mirrors
  .agents/skills/riso-release-readiness/SKILL.md
  .agents/skills/riso-release-readiness/references/no-legacy-answer-policy.md
  .agents/skills/riso-release-readiness/references/release-gates.md
  .claude/skills/riso-release-readiness/SKILL.md
  .claude/skills/riso-release-readiness/references/no-legacy-answer-policy.md
  .claude/skills/riso-release-readiness/references/release-gates.md
  .github/workflows/quality.yml
  scripts/ci/check_quality_parity.py
  scripts/ci/generate_matrix_data.py
  scripts/ci/render_matrix.py
  scripts/ci/validate_jinja_templates.py
  scripts/ci/validate_release_readiness_skill.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, CI/CD Scripts

chore: add idle-gate conftest and justfile tweaks
  conftest.py
  justfile
Due: none

fix(ci): share sphinx smoke command helper
  scripts/lib/sphinx_smoke.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts

test: align circleci strict quality asserts
  goals/riso-lane-py/scripts/check_dual_gates.py
  tests/unit/test_circleci_templates.py
Due: none

fix(template): skip fumadocs llms prefix slugs
  scripts/render-samples.sh
  template/copier.yml
  tests/unit/ci/test_render_samples_variant_names.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict

fix(template): skip fumadocs llms prefix slugs
  template/files/node/docs/fumadocs/app/(home)/blog/rss.xml/route.ts.jinja
  template/files/node/docs/fumadocs/app/api/search/route.ts.jinja
  template/files/node/docs/fumadocs/app/llms-full.txt/route.ts.jinja
  template/files/node/docs/fumadocs/app/llms.mdx/docs/[[...slug]]/route.ts.jinja
  template/files/node/docs/fumadocs/app/llms.txt/route.ts.jinja
Due: none

test(cli): cover copy remaps and last-step reject
  src/riso/cli/helpers.py
  tests/unit/test_cli/test_copy.py
  tests/unit/test_cli/test_helpers.py
Due: none

fix(template): omit CLI tests when CLI is disabled
  template/files/python/tests/test_cli.py.jinja
Due: Template Files

docs(goals): close stale W2 lane residuals
  goals/riso-lanes-assurance/residuals/ASSURANCE.md
  goals/riso-lanes-assurance/residuals/COORD.md
  goals/riso-lanes-assurance/residuals/DESKTOP.md
  goals/riso-lanes-assurance/residuals/NODE.md
  goals/riso-lanes-assurance/residuals/PY.md
  goals/riso-lanes-assurance/residuals/SYS.md
Due: none

Path conditions:
  py3.11-standard: any of: scripts/, template/hooks/, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  py3.11-strict: any of: scripts/, template/hooks/, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  py3.12-standard: any of: scripts/, template/hooks/, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  py3.12-strict: any of: scripts/, template/hooks/, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  py3.13-standard: any of: scripts/, template/hooks/, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  py3.13-strict: any of: scripts/, template/hooks/, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  Scripts: any of: scripts/**/*.py, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  Template Hooks: any of: template/hooks/**/*.py, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  CI/CD Scripts: any of: scripts/ci/**/*.py, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  Template Files: any of: template/files/**/*.py.jinja, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
