Repository wyattowalsh/riso: changes, and which Codecov flags are due for each by the changed paths.
All: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, Template Hooks, CI/CD Scripts, Template Files

codecov.yml:

# Codecov configuration for Riso template system
# See: https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 80%                    # Target coverage
        threshold: 2%                  # Allow 2% drop
        if_ci_failed: error           # Fail if CI failed
        if_not_found: success         # Allow missing coverage files
        only_pulls: false             # Report on all commits

    # Patch coverage (changes in PR)
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
        if_not_found: success
        only_pulls: true              # Only for pull requests

    # Changes coverage (lines changed)
    changes:
      default:
        if_ci_failed: error
        if_not_found: success
        only_pulls: true

# Comment configuration for pull requests
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  branches:
    - main
    - develop

# GitHub Checks integration
github_checks:
  annotations: true

# Ignore paths from coverage
ignore:
  - "tests/**/*"
  - "**/__pycache__/**/*"
  - "**/.venv/**/*"
  - "**/venv/**/*"
  - "**/node_modules/**/*"
  - "**/.git/**/*"
  - "**/build/**/*"
  - "**/dist/**/*"
  - "**/*.pyc"
  - "samples/**/*"
  - ".codex/**/*"
  - "htmlcov/**/*"

# Flags for different test suites (matches CI matrix)
flags:
  # Python version flags
  py3.11-standard:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.11-strict:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.12-standard:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.12-strict:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.13-standard:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.13-strict:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

# Component configuration
component_management:
  individual_components:
    - component_id: scripts
      name: Scripts
      paths:
        - scripts/**/*.py

    - component_id: hooks
      name: Template Hooks
      paths:
        - template/hooks/**/*.py

    - component_id: ci
      name: CI/CD Scripts
      paths:
        - scripts/ci/**/*.py

    - component_id: templates
      name: Template Files
      paths:
        - template/files/**/*.py.jinja

# Pull request comment customization
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

# Annotation behavior
annotations:
  range: 70..100
  round: down
  precision: 2

# Require uploading coverage from all matrix jobs
# This ensures we get comprehensive coverage across Python versions
flag_management:
  default_rules:
    carryforward: false
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: auto
        threshold: 5%

chore(release): 1.2.9 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  80e631de491072b36ebc8ab0b867fa582d37d97d
Due: none

fix(ci): preserve CLI setattr during render smoke bootstrap
  scripts/render-samples.sh
  template/files/python/ruff.toml.jinja
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict

chore(release): 1.2.10 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  0468a62eb7b42d7949ecbae768aa85ddfdb6e74b
Due: none

fix(template): unblock cli-docs quality smoke for pylint and coverage
  template/files/python/.pylintrc.jinja
  template/files/python/coverage.cfg.jinja
  template/files/python/src/{{ package_name }}/api/main.py.jinja
  template/files/python/src/{{ package_name }}/cli/commands/plugin.py.jinja
  template/files/python/tasks/quality.py.jinja
  template/files/python/tests/test_cli_formatters.py.jinja
  template/files/quality/justfile.quality.jinja
  template/files/quality/makefile.quality.jinja
  template/files/quality/pylintrc.jinja
Due: Template Files

chore(release): 1.2.11 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  6134759f78bdb2c8b160462d55e8b87b09d81291
Due: none

feat(template): enable wyattowalsh/agents plugin
  .claude/settings.json
  .cursor/settings.json
  .github/copilot/settings.json
  AGENTS.md
  docs/changelog.md
  scripts/ci/validate_agents_ecosystem.py
  template/copier.yml
  template/files/.cursor/settings.json.jinja
  template/files/.github/copilot/settings.json.jinja
  template/files/AGENTS.md.jinja
  template/files/docs/ai-tools.md.jinja
  template/files/node/docs/fumadocs/content/docs/ai-tools.mdx.jinja
  template/hooks/post_gen_project.py
  tests/unit/ci/test_validate_agents_ecosystem.py
  tests/unit/hooks/test_post_gen_project.py
  tests/unit/template/test_agents_md_render.py
  tests/unit/template/test_agents_plugin.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, Template Hooks, CI/CD Scripts

test(ci): split agents ecosystem render-tree checks
  scripts/ci/validate_agents_ecosystem.py
  tests/unit/ci/test_validate_agents_ecosystem.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, CI/CD Scripts

fix(ci): canonicalize render paths and wire quality-profile matrix
  .github/workflows/quality.yml
  scripts/render-samples.sh
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict

fix(cli): validate destinations and harden template operations
  src/riso/cli/app.py
  src/riso/cli/commands/catalog.py
  src/riso/cli/commands/copy.py
  src/riso/cli/commands/diff.py
  src/riso/cli/commands/doctor.py
  src/riso/cli/commands/export.py
  src/riso/cli/commands/recopy.py
  src/riso/cli/commands/update.py
  src/riso/cli/config.py
  src/riso/cli/output.py
  src/riso/core/answers.py
  src/riso/core/diff.py
  src/riso/core/names.py
  src/riso/core/paths.py
  src/riso/template/__init__.py
Due: none

chore(build): adopt justfile SSOT and expand quality targets
  .pre-commit-config.yaml
  Makefile
  justfile
  scripts/ci/run_quality_suite.py
  scripts/lib/paths.py
  scripts/lib/removed_answer_keys.py
  uv.lock
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, CI/CD Scripts

docs(agents): document CI jobs and local parity recipes
  .cursor/rules
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  README.md
Due: none

test: cover render paths, CLI export, and wizard gates
  tests/conftest.py
  tests/integration/test_rendered_workflows.py
  tests/test_precommit.py
  tests/unit/lib/test_logger.py
  tests/unit/lib/test_validation.py
  tests/unit/test_cli/test_catalog.py
  tests/unit/test_cli/test_doctor.py
  tests/unit/test_cli/test_export.py
  tests/unit/test_cli/test_paths.py
  tests/unit/test_cli_helpers.py
  tests/unit/test_core_diff.py
  tests/unit/test_render_samples_paths.py
  tests/unit/test_template_validate.py
  web/src/__tests__/exportConfig.test.ts
  web/src/__tests__/validation.test.ts
  web/src/__tests__/wizard.test.ts
Due: none

fix(web): gate wizard navigation and stabilize export config
  web/pnpm-workspace.yaml
  web/src/App.tsx
  web/src/components/Wizard.tsx
  web/src/components/steps/ReviewOutput.tsx
  web/src/lib/exportConfig.ts
  web/src/lib/store.ts
  web/src/lib/useValidation.ts
Due: none

chore: tool pins, docs, and repository hygiene
  .gitignore
  .mise.toml
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING.md
  docs/guides/troubleshooting.md
  justfile
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/setup/lib/install-tools.sh
  scripts/setup/lib/versions.sh
  uv.lock
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict

feat(template): add frontend lib tracks and sync release gates
  .agents/skills/riso-release-readiness/references/release-gates.md
  .claude/skills/riso-release-readiness/references/release-gates.md
  template/files/frontend/react/nextjs/lib/{% if frontend_framework == 'react' and react_framework == 'nextjs' %}api.ts{% endif %}.jinja
  template/files/frontend/react/remix/app/lib/{% if frontend_framework == 'react' and react_framework == 'remix' %}api.ts{% endif %}.jinja
  template/files/frontend/react/vite/src/lib/{% if frontend_framework == 'react' and react_framework == 'vite' %}api.ts{% endif %}.jinja
  template/files/frontend/svelte/sveltekit/src/lib/{% if frontend_framework == 'svelte' and svelte_framework == 'sveltekit' %}api.ts{% endif %}.jinja
  template/files/frontend/vue/vite/src/lib/{% if frontend_framework == 'vue' and vue_framework == 'vite' %}api.ts{% endif %}.jinja
  template/files/python/pyproject.toml.jinja
  template/files/scripts/setup/lib/colors.sh
  template/files/scripts/setup/lib/detect-platform.sh
  template/files/scripts/setup/lib/install-tools.sh.jinja
  template/files/scripts/setup/lib/logging.sh
  template/files/scripts/setup/lib/versions.sh.jinja
Due: none

feat: generation control plane and process-isolated copier worker
  src/riso/cli/app.py
  src/riso/cli/commands/copy.py
  src/riso/cli/commands/doctor.py
  src/riso/cli/commands/export.py
  src/riso/cli/commands/recopy.py
  src/riso/cli/commands/update.py
  src/riso/cli/config.py
  src/riso/cli/helpers.py
  src/riso/cli/output.py
  src/riso/core/answers.py
  src/riso/core/diff.py
  src/riso/core/generation_gates.py
  src/riso/core/paths.py
  src/riso/core/removed_answer_keys.py
  src/riso/template/__init__.py
  src/riso/template/_copier_worker.py
  src/riso/template/hooks_runner.py
  tests/integration/test_control_plane_gates.py
  tests/integration/test_riso_update_worker_payload.py
  tests/unit/test_cli/test_answers.py
  tests/unit/test_cli/test_diff_ignore.py
  tests/unit/test_cli/test_doctor.py
  tests/unit/test_cli/test_export.py
  tests/unit/test_cli/test_generation_gates.py
  tests/unit/test_cli/test_helpers.py
  tests/unit/test_cli/test_hooks_runner.py
  tests/unit/test_cli/test_output.py
  tests/unit/test_cli/test_paths.py
  tests/unit/test_cli/test_removed_keys_packaging.py
  tests/unit/test_cli/test_run_argv_with_timeout.py
  tests/unit/test_cli/test_template_control_plane.py
Due: none

fix(hooks): strengthen pre/post generation validation
  .github/workflows/gitleaks.yml
  .github/workflows/release.yml
  .gitignore
  docs/conf.py
  scripts/ci/npm_surfaces.json
  scripts/ci/render_matrix.py
  scripts/ci/run_baseline_quickstart.py
  scripts/ci/validate_agents_ecosystem.py
  scripts/ci/validate_dockerfiles.py
  scripts/ci/validate_release_configs.py
  scripts/ci/validate_saas_combinations.py
  scripts/ci/validate_workflows.py
  scripts/ci/verify_context_sync.py
  template/hooks/post_gen_project.py
  template/hooks/pre_gen_project.py
  tests/unit/hooks/test_post_gen_project.py
  tests/unit/hooks/test_pre_gen_project.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, Template Hooks, CI/CD Scripts

fix(template): add typescript to mcp_languages choices
  template/copier.yml
Due: none

feat: strengthen web wizard gates, validation, and export safety
  .gitleaks.toml
  web/.gitignore
  web/package.json
  web/playwright.config.ts
  web/pnpm-lock.yaml
  web/pnpm-workspace.yaml
  web/src/App.tsx
  web/src/__tests__/configSchemas.test.ts
  web/src/__tests__/exportConfig.test.ts
  web/src/__tests__/removedAnswerKeys.test.ts
  web/src/__tests__/store.test.ts
  web/src/__tests__/validation.test.ts
  web/src/__tests__/wizard.test.ts
  web/src/__tests__/wizardGate.test.ts
  web/src/components/Header.tsx
  web/src/components/History.tsx
  web/src/components/MobileDrawer.tsx
  web/src/components/SearchModal.tsx
  web/src/components/Wizard.tsx
  web/src/components/presets/SavePresetModal.tsx
  web/src/components/presets/index.tsx
  web/src/components/presets/presets.tsx
  web/src/components/steps/ProjectBasics.tsx
  web/src/components/steps/ReviewOutput.tsx
  web/src/data/matrix-data.json
  web/src/lib/configSchemas.ts
  web/src/lib/dependencies.ts
  web/src/lib/exportConfig.ts
  web/src/lib/presets.ts
  web/src/lib/removedAnswerKeys.ts
  web/src/lib/store.ts
  web/src/lib/useFocusTrap.ts
  web/src/lib/validation.ts
  web/src/lib/wizardGate.ts
  web/tests/e2e/smoke.spec.ts
  web/tests/e2e/wizard.spec.ts
  web/tsconfig.json
Due: none

fix(template): prompt go_version when MCP selects go
  template/copier.yml
Due: none
