Repository wyattowalsh/riso: changes, and which Codecov flags are due for each by the changed paths.
All: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, Template Hooks, CI/CD Scripts, Template Files

chore(release): 1.1.2 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  c959a03c328be69b69a54b31dab7e011fe2c36fe
Due: none

chore(release): 1.1.3 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  a29fdceffc0c70e87af00c5797205b5c2bbdc377
Due: none

fix(deploy): fix MCP API JSON import and docs configurator link
  docs/conf.py
  web/api/mcp.ts
  web/public/docs/404.html
  web/public/docs/_sources/api/index.md.txt
  web/public/docs/_sources/api/scripts.md.txt
  web/public/docs/_sources/changelog.md.txt
  web/public/docs/_sources/guides/implementation-guide.md.txt
  web/public/docs/_sources/guides/index.md.txt
  web/public/docs/_sources/guides/matrix-data.md.txt
  web/public/docs/_sources/guides/quickstart.md.txt
  web/public/docs/_sources/guides/roadmap.md.txt
  web/public/docs/_sources/guides/testing-strategy.md.txt
  web/public/docs/_sources/index.md.txt
  web/public/docs/_sources/research/saas-starter-research-prompts.md.txt
  web/public/docs/_sources/research/saas-starter-synthesis-report.md.txt
  web/public/docs/_sources/tools/fastmcp.md.txt
  web/public/docs/_sources/tools/index.md.txt
  web/public/docs/_sources/tools/riso-mcp-server.md.txt
  web/public/docs/api/index.html
  web/public/docs/api/scripts.html
  web/public/docs/changelog.html
  web/public/docs/genindex.html
  web/public/docs/guides/implementation-guide.html
  web/public/docs/guides/index.html
  web/public/docs/guides/matrix-data.html
  web/public/docs/guides/quickstart.html
  web/public/docs/guides/roadmap.html
  web/public/docs/guides/testing-strategy.html
  web/public/docs/index.html
  web/public/docs/objects.inv
  web/public/docs/research/saas-starter-research-prompts.html
  web/public/docs/research/saas-starter-synthesis-report.html
  web/public/docs/search.html
  web/public/docs/tools/fastmcp.html
  web/public/docs/tools/riso-mcp-server.html
Due: none

Notes added by 'git notes add'
  e124dfda2c64bb87029f7f883cde27a1618a30bd
Due: none

chore(release): 1.1.4 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

feat(mcp): add persistent wizard workflows
  examples/logging_demo.py
  pyproject.toml
  src/riso/mcp/answer_validation.py
  src/riso/mcp/config.py
  src/riso/mcp/errors.py
  src/riso/mcp/logging.py
  src/riso/mcp/persistence.py
  src/riso/mcp/progress.py
  src/riso/mcp/prompts/workflows.py
  src/riso/mcp/resources/catalog.py
  src/riso/mcp/resources/samples.py
  src/riso/mcp/server.py
  src/riso/mcp/session.py
  src/riso/mcp/tools/copier_api.py
  src/riso/mcp/tools/diff.py
  src/riso/mcp/tools/wizard.py
  src/riso/template/__init__.py
  tests/conftest.py
  tests/integration/test_mcp_server.py
  tests/unit/test_mcp/test_config.py
  tests/unit/test_mcp/test_diff.py
  tests/unit/test_mcp/test_logging.py
  tests/unit/test_mcp/test_path_validation.py
  tests/unit/test_mcp/test_persistence.py
  tests/unit/test_mcp/test_progress.py
  tests/unit/test_mcp/test_rate_limiting.py
  tests/unit/test_mcp/test_session_cleanup.py
  tests/unit/test_mcp/test_session_persistence.py
  tests/unit/test_mcp/test_template.py
  tests/unit/test_mcp/test_timeouts.py
  tests/unit/test_mcp/test_tools.py
  tests/unit/test_mcp/test_tools_wizard.py
Due: none

ci: harden template validation tooling
  scripts/automation/generate_preset_trees.py
  scripts/automation/render_client.py
  scripts/ci/record_module_success.py
  scripts/ci/render_matrix.py
  scripts/ci/run_baseline_quickstart.py
  scripts/ci/run_quality_suite.py
  scripts/ci/validate_dockerfiles.py
  scripts/ci/validate_release_configs.py
  scripts/ci/validate_release_readiness_skill.py
  scripts/ci/validate_saas_combinations.py
  scripts/ci/validate_workflows.py
  scripts/ci/verify_context_sync.py
  scripts/compliance/checkpoints.py
  scripts/hooks/workflow_validator.py
  scripts/lib/__init__.py
  scripts/lib/validation.py
  scripts/saas/render_saas_samples.py
  scripts/verify_rust_templates.py
  template/hooks/post_gen_project.py
  template/hooks/pre_gen_project.py
  tests/integration/conftest.py
  tests/integration/test_setup_scripts.py
  tests/integration/test_template_rendering.py
  tests/test_precommit.py
  tests/unit/ci/test_render_matrix.py
  tests/unit/ci/test_validate_release_readiness_skill.py
  tests/unit/hooks/conftest.py
  tests/unit/hooks/test_post_gen_project.py
  tests/unit/hooks/test_pre_gen_project.py
  tests/unit/test_circleci_templates.py
  tests/unit/test_electron_templates.py
  tests/unit/test_gitlab_ci_templates.py
  tests/unit/test_go_templates.py
  tests/unit/test_new_templates.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, Template Hooks, CI/CD Scripts

docs(agents): refactor maintainer SSOT and pointer ecosystem
  .cursor/rules
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
  README.md
  docs/api/scripts.md
  docs/guides/quickstart.md
  docs/guides/testing-strategy.md
  docs/guides/troubleshooting.md
Due: none

feat(template): add task_runner prompt and justfile aggregators
  template/copier.yml
  template/files/.mise.toml.jinja
  template/files/.pre-commit-config.yaml.jinja
  template/files/AGENTS.md.jinja
  template/files/docs/modules/changelog-release.md.jinja
  template/files/docs/modules/prompt-reference.md.jinja
  template/files/docs/upgrade-guide.md.jinja
  template/files/go/README.md.jinja
  template/files/go/justfile.jinja
  template/files/justfile.jinja
  template/files/module_catalog.json.jinja
  template/files/package.json.jinja
  template/files/python/docs/guides/implementation-guide.md
  template/files/python/docs/guides/quickstart.md
  template/files/python/docs/guides/testing-strategy.md
  template/files/python/docs/index.md
  template/files/python/docs/tools/index.md
  template/files/python/justfile.jinja
  template/files/quality/justfile.quality.jinja
  template/files/rust/Makefile.jinja
  template/files/rust/README.md.jinja
  template/files/scripts/release/install-hooks.py.jinja
  template/files/scripts/setup/setup.ps1.jinja
  template/files/scripts/setup/setup.sh.jinja
  template/hooks/post_gen_project.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Template Hooks, Template Files

docs: sync quality context for task_runner default
  .github/context/quality.md
  docs/modules/quality.md.jinja
  template/files/.github/context/quality.md
Due: none

test(ci): align platform template tests with ty ssot
  tests/unit/test_circleci_templates.py
  tests/unit/test_gitlab_ci_templates.py
  tmp/riso-ci-evidence.json
Due: none

fix(template): align ty check paths across quality lanes
  template/files/python/tasks/quality.py.jinja
  template/files/quality/makefile.quality.jinja
  template/files/quality/uv_tasks/quality.py.jinja
Due: Template Files

feat(template): vendor shadcn ui components for saas starter
  scripts/ci/sync_template_shadcn_components.py
  template/files/node/saas/components/ui/avatar.tsx.jinja
  template/files/node/saas/components/ui/badge.tsx.jinja
  template/files/node/saas/components/ui/button.tsx.jinja
  template/files/node/saas/components/ui/card.tsx.jinja
  template/files/node/saas/components/ui/collapsible.tsx.jinja
  template/files/node/saas/components/ui/command.tsx.jinja
  template/files/node/saas/components/ui/dialog.tsx.jinja
  template/files/node/saas/components/ui/dropdown-menu.tsx.jinja
  template/files/node/saas/components/ui/input.tsx.jinja
  template/files/node/saas/components/ui/label.tsx.jinja
  template/files/node/saas/components/ui/select.tsx.jinja
  template/files/node/saas/components/ui/separator.tsx.jinja
  template/files/node/saas/components/ui/switch.tsx.jinja
  template/files/node/saas/components/ui/table.tsx.jinja
  template/files/node/saas/components/ui/tabs.tsx.jinja
  template/files/node/saas/integrations/feature-flags/posthog.server.ts.jinja
  template/files/node/saas/integrations/feature-flags/posthog.tsx.jinja
  template/files/node/saas/package.json.jinja
  template/files/node/saas/runtime/nextjs/app/globals.css.jinja
  template/files/node/saas/scripts/security-audit.ts.jinja
  template/files/node/saas/scripts/setup-wizard.ts.jinja
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, CI/CD Scripts

fix(template): harden CLI test assertions for waves 3–10 assurance
  template/files/python/tests/test_cli.py.jinja
  template/files/python/tests/test_cli_commands.py.jinja
  template/files/python/tests/test_cli_config.py.jinja
Due: Template Files

ci: validate task_runner in precommit and quality sync
  .github/workflows/quality.yml
  scripts/ci/agent_smoke_agents_md.py
  scripts/ci/check_quality_parity.py
  scripts/ci/render_precommit_configs.py
  scripts/ci/validate_agents_ecosystem.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, CI/CD Scripts

chore(samples): add slug and package_name to copier answers
  samples/changelog-monorepo/copier-answers.yml
  samples/default/baseline_quickstart_metrics.json
  samples/docs-fumadocs-full/copier-answers.yml
  samples/saas-starter/all-in-one/copier-answers.yml
  samples/saas-starter/b2b-teams-full/copier-answers.yml
  samples/saas-starter/b2c-consumer-app/copier-answers.yml
  samples/saas-starter/edge-optimized/copier-answers.yml
  samples/saas-starter/enterprise-ready/copier-answers.yml
  samples/saas-starter/nextjs-vercel-neon-clerk-workos/copier-answers.yml
  samples/saas-starter/nextjs-vercel-neon-clerk/copier-answers.yml
  samples/saas-starter/nextjs-vercel-supabase-clerk/copier-answers.yml
  samples/saas-starter/prelaunch-waitlist/copier-answers.yml
  samples/saas-starter/remix-cloudflare-neon-drizzle/copier-answers.yml
  samples/saas-starter/vercel-starter/copier-answers.yml
Due: none

feat(web): add task_runner to configurator wizard
  web/src/components/FileTreePreview.tsx
  web/src/components/steps/ProjectBasics.tsx
  web/src/components/steps/ReviewOutput.tsx
  web/src/data/matrix-data.json
  web/src/lib/store.ts
Due: none

test(template): add task_runner and quality parity coverage
  tests/automation/sync_test.py
  tests/test_precommit.py
  tests/unit/ci/test_check_quality_parity.py
  tests/unit/ci/test_render_precommit_configs.py
  tests/unit/test_task_runner_templates.py
Due: none

Path conditions:
  py3.11-standard: any of: scripts/, template/hooks/, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  py3.11-strict: any of: scripts/, template/hooks/, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  py3.12-standard: any of: scripts/, template/hooks/, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  py3.12-strict: any of: scripts/, template/hooks/, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  py3.13-standard: any of: scripts/, template/hooks/, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  py3.13-strict: any of: scripts/, template/hooks/, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  Scripts: any of: scripts/**/*.py, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  Template Hooks: any of: template/hooks/**/*.py, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  CI/CD Scripts: any of: scripts/ci/**/*.py, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  Template Files: any of: template/files/**/*.py.jinja, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
