Repository wyattowalsh/riso: changes, and which Codecov flags are due for each by the changed paths.
All: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, Template Hooks, CI/CD Scripts, Template Files

codecov.yml:

# Codecov configuration for Riso template system
# See: https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 80%                    # Target coverage
        threshold: 2%                  # Allow 2% drop
        if_ci_failed: error           # Fail if CI failed
        if_not_found: success         # Allow missing coverage files
        only_pulls: false             # Report on all commits

    # Patch coverage (changes in PR)
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
        if_not_found: success
        only_pulls: true              # Only for pull requests

    # Changes coverage (lines changed)
    changes:
      default:
        if_ci_failed: error
        if_not_found: success
        only_pulls: true

# Comment configuration for pull requests
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  branches:
    - main
    - develop

# GitHub Checks integration
github_checks:
  annotations: true

# Ignore paths from coverage
ignore:
  - "tests/**/*"
  - "**/__pycache__/**/*"
  - "**/.venv/**/*"
  - "**/venv/**/*"
  - "**/node_modules/**/*"
  - "**/.git/**/*"
  - "**/build/**/*"
  - "**/dist/**/*"
  - "**/*.pyc"
  - "samples/**/*"
  - ".codex/**/*"
  - "htmlcov/**/*"

# Flags for different test suites (matches CI matrix)
flags:
  # Python version flags
  py3.11-standard:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.11-strict:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.12-standard:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.12-strict:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.13-standard:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.13-strict:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

# Component configuration
component_management:
  individual_components:
    - component_id: scripts
      name: Scripts
      paths:
        - scripts/**/*.py

    - component_id: hooks
      name: Template Hooks
      paths:
        - template/hooks/**/*.py

    - component_id: ci
      name: CI/CD Scripts
      paths:
        - scripts/ci/**/*.py

    - component_id: templates
      name: Template Files
      paths:
        - template/files/**/*.py.jinja

# Pull request comment customization
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

# Annotation behavior
annotations:
  range: 70..100
  round: down
  precision: 2

# Require uploading coverage from all matrix jobs
# This ensures we get comprehensive coverage across Python versions
flag_management:
  default_rules:
    carryforward: false
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: auto
        threshold: 5%

feat: add comprehensive pre-commit stack with security and quality hooks
  .github/workflows/pre-commit.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  scripts/ci/validate_jinja_templates.py
  template/files/python/pyproject.toml.jinja
  template/files/shared/quality/.pre-commit-config.yaml.jinja
  template/files/shared/quality/makefile.quality.jinja
  template/hooks/post_gen_project.py
  tests/test_precommit.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, Template Hooks, CI/CD Scripts

feat(release): add comprehensive SDLC tooling stack
  .commitlintrc.yml
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/labeler.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  .releaserc.yml
  CHANGELOG.md
  Makefile
  package.json
Due: none

feat(setup): add comprehensive cross-platform setup scripts
  .mise.toml
  AGENTS.md
  docs/guides/quickstart.md
  scripts/ci/verify_version_sync.py
  scripts/setup/README.md
  scripts/setup/lib-ps/Colors.psm1
  scripts/setup/lib-ps/Detect-Platform.psm1
  scripts/setup/lib-ps/Install-Tools.psm1
  scripts/setup/lib-ps/Logging.psm1
  scripts/setup/lib/README.md
  scripts/setup/lib/colors.sh
  scripts/setup/lib/detect-platform.sh
  scripts/setup/lib/install-tools.sh
  scripts/setup/lib/logging.sh
  scripts/setup/lib/versions.sh
  scripts/setup/setup.ps1
  scripts/setup/setup.sh
  template/files/shared/scripts/setup/lib/colors.sh
  template/files/shared/scripts/setup/lib/detect-platform.sh
  template/files/shared/scripts/setup/lib/install-tools.sh.jinja
  template/files/shared/scripts/setup/lib/logging.sh
  template/files/shared/scripts/setup/lib/versions.sh.jinja
  template/files/shared/scripts/setup/setup.ps1.jinja
  template/files/shared/scripts/setup/setup.sh.jinja
  tests/integration/test_setup_scripts.py
  tests/unit/scripts/__init__.py
  tests/unit/scripts/test_setup_detection.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, CI/CD Scripts

docs: add exhaustive codebase review plan for parallel subagent execution
  CODEBASE_REVIEW_PLAN.md
Due: none

fix: resolve 7 critical issues from codebase audit
  .github/workflows/quality.yml
  .gitignore
  BREAKING_CHANGES.md
  pyproject.toml
  samples/saas-starter/configuration-results.json
  samples/saas-starter/validation-results.json
  scripts/ci/render_matrix.py
  scripts/ci/run_baseline_quickstart.py
  scripts/ci/run_quality_suite.py
  scripts/ci/validate_dockerfiles.py
  scripts/ci/validate_release_configs.py
  scripts/ci/validate_saas_combinations.py
  scripts/ci/validate_workflows.py
  scripts/ci/verify_context_sync.py
  scripts/hooks/workflow_validator.py
  scripts/lib/__init__.py
  scripts/lib/logger.py
  scripts/lib/validation.py
  scripts/saas/render_saas_samples.py
  template/files/node/saas/package.json.jinja
  template/files/shared/.github/workflows/riso-matrix.yml.jinja
  template/files/shared/.github/workflows/riso-quality.yml.jinja
  template/files/shared/.gitignore.jinja
  template/hooks/pre_gen_project.py
  tests/unit/ci/test_validate_dockerfiles.py
  tests/unit/hooks/test_pre_gen_project.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, Template Hooks, CI/CD Scripts

docs(matrix): add SSOT documentation and workflow permissions
  .github/workflows/matrix-data.yml
  docs/modules/matrix-data.md.jinja
  docs/modules/workflows.md.jinja
Due: none

chore: finalize matrix integration updates
  template/copier.yml
  template/files/node/saas/package.json.jinja
  web/src/components/SidebarSummary.tsx
  web/src/components/steps/AIToolsConfig.tsx
  web/src/components/steps/ModulesConfig.tsx
  web/src/components/steps/SaaSConfig.tsx
Due: none

fix(mcp): update test path and add missing runtime deps
  .github/workflows/quality.yml
  pyproject.toml
Due: none

chore: update workflow and saas templates
  template/files/node/saas/integrations/billing/paddle/webhooks.ts.jinja
  web/src/index.css
Due: none

style: apply ruff format to Python files
  scripts/lib/logger.py
  scripts/lib/validation.py
  src/riso/mcp/prompts/workflows.py
  src/riso/mcp/resources/catalog.py
  src/riso/mcp/resources/samples.py
  src/riso/mcp/server.py
  src/riso/mcp/tools/wizard.py
  template/hooks/post_gen_project.py
  template/hooks/pre_gen_project.py
  tests/unit/ci/test_render_matrix.py
  tests/unit/ci/test_validate_dockerfiles.py
  tests/unit/ci/test_validate_release_configs.py
  tests/unit/ci/test_validate_workflows.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, Template Hooks

fix(ci): add missing newlines and make ty check non-blocking
  .github/context/copier-org_copier_llms.txt
  .github/context/pydantic_pydantic-settings_llms.txt
  .github/workflows/release.yml
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  samples/default/baseline_quickstart_metrics.json
  samples/saas-starter/all-in-one/metadata.json
  samples/saas-starter/configuration-results.json
  samples/saas-starter/edge-optimized/metadata.json
  samples/saas-starter/enterprise-ready/metadata.json
  samples/saas-starter/render-results.json
  samples/saas-starter/validation-results.json
  samples/saas-starter/vercel-starter/metadata.json
  template/files/node/docs/fumadocs/app/(home)/blog/[slug]/page.tsx.jinja
  template/files/node/docs/fumadocs/app/(home)/blog/page.tsx.jinja
  template/files/node/saas/runtime/nextjs/app/(marketing)/blog/[slug]/page.tsx.jinja
  template/files/node/saas/runtime/nextjs/app/(marketing)/blog/page.tsx.jinja
Due: none

fix(ci): add missing newlines and make ty check non-blocking
  .codex/auth.json
  .github/context/copier-org_copier_llms.txt
  .github/context/pydantic_pydantic-settings_llms.txt
  .github/workflows/release.yml
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  samples/default/baseline_quickstart_metrics.json
  samples/saas-starter/all-in-one/metadata.json
  samples/saas-starter/configuration-results.json
  samples/saas-starter/edge-optimized/metadata.json
  samples/saas-starter/enterprise-ready/metadata.json
  samples/saas-starter/render-results.json
  samples/saas-starter/validation-results.json
  samples/saas-starter/vercel-starter/metadata.json
  template/files/node/docs/fumadocs/app/(home)/blog/[slug]/page.tsx.jinja
  template/files/node/docs/fumadocs/app/(home)/blog/page.tsx.jinja
  template/files/node/saas/runtime/nextjs/app/(marketing)/blog/[slug]/page.tsx.jinja
  template/files/node/saas/runtime/nextjs/app/(marketing)/blog/page.tsx.jinja
Due: none

fix(ci): fix jinja template validator undefined parameter
  scripts/ci/validate_jinja_templates.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, CI/CD Scripts

fix(ci): exclude conflicting file types from jinja validation and make scripts executable
  .pre-commit-config.yaml
  scripts/ci/track_doc_publish.py
  scripts/hooks/quality_tool_check.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, CI/CD Scripts
