Repository wyattowalsh/riso: changes, and which Codecov flags are due for each by the changed paths.
All: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, Template Hooks, CI/CD Scripts, Template Files

codecov.yml:

# Codecov configuration for Riso template system
# See: https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 80%                    # Target coverage
        threshold: 2%                  # Allow 2% drop
        if_ci_failed: error           # Fail if CI failed
        if_not_found: success         # Allow missing coverage files
        only_pulls: false             # Report on all commits

    # Patch coverage (changes in PR)
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
        if_not_found: success
        only_pulls: true              # Only for pull requests

    # Changes coverage (lines changed)
    changes:
      default:
        if_ci_failed: error
        if_not_found: success
        only_pulls: true

# Comment configuration for pull requests
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  branches:
    - main
    - develop

# GitHub Checks integration
github_checks:
  annotations: true

# Ignore paths from coverage
ignore:
  - "tests/**/*"
  - "**/__pycache__/**/*"
  - "**/.venv/**/*"
  - "**/venv/**/*"
  - "**/node_modules/**/*"
  - "**/.git/**/*"
  - "**/build/**/*"
  - "**/dist/**/*"
  - "**/*.pyc"
  - "samples/**/*"
  - ".codex/**/*"
  - "htmlcov/**/*"

# Flags for different test suites (matches CI matrix)
flags:
  # Python version flags
  py3.11-standard:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.11-strict:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.12-standard:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.12-strict:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.13-standard:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.13-strict:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

# Component configuration
component_management:
  individual_components:
    - component_id: scripts
      name: Scripts
      paths:
        - scripts/**/*.py

    - component_id: hooks
      name: Template Hooks
      paths:
        - template/hooks/**/*.py

    - component_id: ci
      name: CI/CD Scripts
      paths:
        - scripts/ci/**/*.py

    - component_id: templates
      name: Template Files
      paths:
        - template/files/**/*.py.jinja

# Pull request comment customization
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

# Annotation behavior
annotations:
  range: 70..100
  round: down
  precision: 2

# Require uploading coverage from all matrix jobs
# This ensures we get comprehensive coverage across Python versions
flag_management:
  default_rules:
    carryforward: false
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: auto
        threshold: 5%

fix(ci): inline quality matrix jobs in Template CI workflow
  .github/workflows/template-ci.yml
Due: none

chore(release): 1.2.2 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  2306fabbc024c4bfa0b97ec596f701044d20066c
Due: none

fix(ci): install docs deps and fix Sphinx path in Template CI
  .github/workflows/template-ci.yml
Due: none

chore(release): 1.2.3 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  0905a1e21b8bd4b2efaefb36f686d1f4560005e1
Due: none

fix(ci): repair quality workflow smoke checks and lockfile sync
  .github/workflows/matrix-data.yml
  .github/workflows/quality.yml
  template/files/.github/context/quality.md
  web/pnpm-lock.yaml
Due: none

fix(ci): point matrix-data pnpm cache at web lockfile
  .github/workflows/matrix-data.yml
Due: none

chore(release): 1.2.4 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  05bf5cf727feee4899552ce07d3f35797bb4c963
Due: none

fix(ci): bootstrap renders and resolve remaining workflow failures
  .github/workflows/matrix-data.yml
  .github/workflows/quality.yml
  scripts/render-samples.sh
  web/src/components/SearchBox.tsx
  web/src/components/SearchModal.tsx
  web/src/components/presets/SharePresetModal.tsx
  web/src/components/presets/index.tsx
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict

chore(release): 1.2.5 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  a8922ad02e4b7b16fc54359b2dac9e7b3c9e7946
Due: none

fix(ci): resolve render paths for single-package and monorepo layouts
  .github/workflows/quality.yml
  scripts/render-samples.sh
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict

chore(release): 1.2.6 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  d66d368ea27fc9effe4483d3bc0b44f728d6c72b
Due: none

fix(ci): resolve pnpm workspace root and fumadocs package paths
  scripts/render-samples.sh
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict

chore(release): 1.2.7 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  ed502594772351ca5914ee4ff9826497cdc7a08f
Due: none

fix(ci): track template lib files and restore sample smoke gates
  .gitignore
  samples/full-stack/copier-answers.yml
  template/files/node/docs/fumadocs/lib/get-llm-text.ts.jinja
  template/files/node/docs/fumadocs/lib/openapi.ts.jinja
  template/files/node/docs/fumadocs/lib/source.ts.jinja
  template/files/node/docs/fumadocs/lib/utils.ts.jinja
  template/files/node/saas/lib/ai/token-tracking.ts.jinja
  template/files/node/saas/lib/blog/index.ts.jinja
  template/files/node/saas/lib/multi-tenant/README.md.jinja
  template/files/node/saas/lib/multi-tenant/api.ts.jinja
  template/files/node/saas/lib/multi-tenant/context.tsx.jinja
  template/files/node/saas/lib/multi-tenant/index.ts.jinja
  template/files/node/saas/lib/multi-tenant/isolation.ts.jinja
  template/files/node/saas/lib/multi-tenant/middleware.ts.jinja
  template/files/node/saas/lib/multi-tenant/types.ts.jinja
  template/files/node/saas/lib/multi-tenant/utils.ts.jinja
  template/files/node/saas/lib/utils.ts.jinja
  template/files/node/saas/runtime/nextjs/lib/health-utils.ts.jinja
  template/files/node/saas/runtime/nextjs/lib/health.ts.jinja
  template/files/python/mcp/config.py.jinja
  template/files/python/mcp/errors.py.jinja
  template/files/python/mcp/resources/system.py.jinja
Due: Template Files

fix(ci): keep full-stack strict and skip strict quality smoke
  samples/full-stack/copier-answers.yml
  scripts/render-samples.sh
  template/files/python/ruff.toml.jinja
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict

chore(release): 1.2.8 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  6911437e1a3f99a95535f6e21b6189be945febda
Due: none

fix(template): harden cli-docs smoke quality for rendered samples
  scripts/render-samples.sh
  template/files/python/src/{{ package_name }}/__init__.py.jinja
  template/files/python/src/{{ package_name }}/api/main.py.jinja
  template/files/python/src/{{ package_name }}/api/middleware/errors.py.jinja
  template/files/python/src/{{ package_name }}/api/middleware/request_id.py.jinja
  template/files/python/src/{{ package_name }}/api/routes/examples.py.jinja
  template/files/python/src/{{ package_name }}/api/routes/health.py.jinja
  template/files/python/src/{{ package_name }}/cli/commands/init.py.jinja
  template/files/python/src/{{ package_name }}/cli/commands/list.py.jinja
  template/files/python/src/{{ package_name }}/cli/commands/plugin.py.jinja
  template/files/python/src/{{ package_name }}/cli/commands/version.py.jinja
  template/files/python/src/{{ package_name }}/cli/core/base.py.jinja
  template/files/python/src/{{ package_name }}/cli/core/config.py.jinja
  template/files/python/src/{{ package_name }}/cli/core/formatter.py.jinja
  template/files/python/src/{{ package_name }}/cli/core/plugin_manager.py.jinja
  template/files/python/tests/api/test_examples.py.jinja
  template/files/python/tests/api/test_health.py.jinja
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Template Files
