Repository wyattowalsh/riso: changes, and which Codecov flags are due for each by the changed paths.
All: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, Template Hooks, CI/CD Scripts, Template Files

ci: exclude goals working papers from pre-commit
  .pre-commit-config.yaml
  tests/test_precommit.py
Due: none

fix(ci): do not full-render on skip-render without matrix file
  scripts/ci/render_matrix.py
  tests/unit/ci/test_render_matrix.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, CI/CD Scripts

test(cli): strip ANSI in migrate help assertions
  tests/unit/test_cli/test_migrate.py
Due: none

fix(ci): ship Copier template in wheel for isolated doctor
  pyproject.toml
  src/riso/core/paths.py
  src/riso/template/__init__.py
  src/riso/template/hooks_runner.py
  tests/unit/test_cli/test_paths.py
  tests/unit/test_cli/test_wheel_packaging.py
Due: none

fix(ci): pin Node 22 for pnpm 11 maintainer jobs
  .github/workflows/quality-matrix.yml
  .github/workflows/quality.yml
  .github/workflows/template-ci.yml
  tests/unit/ci/test_maintainer_node_runtime.py
Due: none

feat(template): enable wyattowalsh/agents plugin
  .claude/settings.json
  .cursor/settings.json
  .github/copilot/settings.json
  AGENTS.md
  docs/changelog.md
  scripts/ci/validate_agents_ecosystem.py
  template/copier.yml
  template/files/.cursor/settings.json.jinja
  template/files/.github/copilot/settings.json.jinja
  template/files/AGENTS.md.jinja
  template/files/docs/ai-tools.md.jinja
  template/files/node/docs/fumadocs/content/docs/ai-tools.mdx.jinja
  template/hooks/post_gen_project.py
  tests/unit/ci/test_validate_agents_ecosystem.py
  tests/unit/hooks/test_post_gen_project.py
  tests/unit/template/test_agents_md_render.py
  tests/unit/template/test_agents_plugin.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, Template Hooks, CI/CD Scripts

test(ci): split agents ecosystem render-tree checks
  scripts/ci/validate_agents_ecosystem.py
  tests/unit/ci/test_validate_agents_ecosystem.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, CI/CD Scripts

style(agents): align skills table for mdformat
  AGENTS.md
Due: none

Path conditions:
  py3.11-standard: any of: scripts/, template/hooks/, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  py3.11-strict: any of: scripts/, template/hooks/, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  py3.12-standard: any of: scripts/, template/hooks/, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  py3.12-strict: any of: scripts/, template/hooks/, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  py3.13-standard: any of: scripts/, template/hooks/, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  py3.13-strict: any of: scripts/, template/hooks/, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  Scripts: any of: scripts/**/*.py, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  Template Hooks: any of: template/hooks/**/*.py, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  CI/CD Scripts: any of: scripts/ci/**/*.py, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
  Template Files: any of: template/files/**/*.py.jinja, but not: tests/**/*, **/__pycache__/**/*, **/.venv/**/*, **/venv/**/*, **/node_modules/**/*, **/.git/**/*, **/build/**/*, **/dist/**/*, **/*.pyc, samples/**/*, .codex/**/*, htmlcov/**/*
