Repository wyattowalsh/riso: changes, and which Codecov flags are due for each by the changed paths.
All: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, Template Hooks, CI/CD Scripts, Template Files

codecov.yml:

# Codecov configuration for Riso template system
# See: https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 80%                    # Target coverage
        threshold: 2%                  # Allow 2% drop
        if_ci_failed: error           # Fail if CI failed
        if_not_found: success         # Allow missing coverage files
        only_pulls: false             # Report on all commits

    # Patch coverage (changes in PR)
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
        if_not_found: success
        only_pulls: true              # Only for pull requests

    # Changes coverage (lines changed)
    changes:
      default:
        if_ci_failed: error
        if_not_found: success
        only_pulls: true

# Comment configuration for pull requests
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  branches:
    - main
    - develop

# GitHub Checks integration
github_checks:
  annotations: true

# Ignore paths from coverage
ignore:
  - "tests/**/*"
  - "**/__pycache__/**/*"
  - "**/.venv/**/*"
  - "**/venv/**/*"
  - "**/node_modules/**/*"
  - "**/.git/**/*"
  - "**/build/**/*"
  - "**/dist/**/*"
  - "**/*.pyc"
  - "samples/**/*"
  - ".codex/**/*"
  - "htmlcov/**/*"

# Flags for different test suites (matches CI matrix)
flags:
  # Python version flags
  py3.11-standard:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.11-strict:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.12-standard:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.12-strict:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.13-standard:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

  py3.13-strict:
    paths:
      - scripts/
      - template/hooks/
    carryforward: false

# Component configuration
component_management:
  individual_components:
    - component_id: scripts
      name: Scripts
      paths:
        - scripts/**/*.py

    - component_id: hooks
      name: Template Hooks
      paths:
        - template/hooks/**/*.py

    - component_id: ci
      name: CI/CD Scripts
      paths:
        - scripts/ci/**/*.py

    - component_id: templates
      name: Template Files
      paths:
        - template/files/**/*.py.jinja

# Pull request comment customization
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

# Annotation behavior
annotations:
  range: 70..100
  round: down
  precision: 2

# Require uploading coverage from all matrix jobs
# This ensures we get comprehensive coverage across Python versions
flag_management:
  default_rules:
    carryforward: false
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: auto
        threshold: 5%

test: cover smoke schema and harden generation hook unit tests
  tests/conftest.py
  tests/fixtures/json_samples/smoke_results_pass.json
  tests/unit/ci/test_record_module_success.py
  tests/unit/ci/test_render_matrix.py
  tests/unit/ci/test_smoke_schema.py
  tests/unit/hooks/test_post_gen_project.py
  tests/unit/hooks/test_pre_gen_project.py
  tests/unit/hooks/test_workflow_validator.py
  tmp/riso-ci-evidence.json
Due: none

fix(ci): smoke schema hard-fail and GHA supply-chain pins
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/gitleaks.yml
  .github/workflows/labeler.yml
  .github/workflows/matrix-data.yml
  .github/workflows/pre-commit.yml
  .github/workflows/quality-matrix.yml
  .github/workflows/quality.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/sbom.yml
  .github/workflows/template-ci.yml
  scripts/ci/check_quality_parity.py
  scripts/ci/generate_matrix_data.py
  scripts/ci/record_module_success.py
  scripts/ci/render_matrix.py
  scripts/ci/run_baseline_quickstart.py
  scripts/ci/run_quality_suite.py
  scripts/ci/validate_workflows.py
  scripts/hooks/quality_tool_check.py
  scripts/hooks/workflow_validator.py
  scripts/lib/removed_answer_keys.py
  scripts/lib/smoke_schema.py
  scripts/render-samples.sh
  template/files/.github/workflows/riso-deps-update.yml.jinja
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, CI/CD Scripts

fix(template): add typescript to mcp_languages choices
  template/copier.yml
Due: none

docs: publish W1 COORD outbox deltas and handoff board
  goals/riso-lane-coord/outbox/.gitkeep
  goals/riso-lane-coord/outbox/COORD-go-version-mcp.md
  goals/riso-lane-coord/outbox/COORD-rust-module-excludes.md
  goals/riso-lane-coord/outbox/api-features-normalize.md
  goals/riso-lane-coord/outbox/bootstrap-verify.md
  goals/riso-lane-coord/outbox/coord-mcp-languages-typescript.md
  goals/riso-lane-coord/outbox/exclude-empty-dirs.md
  goals/riso-lane-coord/outbox/graphql-sample-coverage.md
  goals/riso-lanes-assurance/evidence/W0-T01-node-goal.md
  goals/riso-lanes-assurance/evidence/W0-T02-saas-goal.md
  goals/riso-lanes-assurance/evidence/W0-T03-inventory.md
  goals/riso-lanes-assurance/evidence/W0-T05-grok-context.md
  goals/riso-lanes-assurance/evidence/W0-T06-taskgraph.md
  goals/riso-lanes-assurance/evidence/W1-H01-after.json
  goals/riso-lanes-assurance/evidence/W1-H01-before.json
  goals/riso-lanes-assurance/evidence/W1-H02-after.json
  goals/riso-lanes-assurance/evidence/W1-H02-before.json
  goals/riso-lanes-assurance/evidence/W1-H03-excludes.txt
  goals/riso-lanes-assurance/evidence/W1-H03-monorepo-validate.json
  goals/riso-lanes-assurance/evidence/W1-H04-after.json
  goals/riso-lanes-assurance/evidence/W1-H04-before.json
  goals/riso-lanes-assurance/evidence/W1-H04-empty-dirs.txt
  goals/riso-lanes-assurance/evidence/W1-H04-pytest.txt
  goals/riso-lanes-assurance/evidence/W1-H05-api-python.json
  goals/riso-lanes-assurance/evidence/W1-H05-full-stack.json
  goals/riso-lanes-assurance/evidence/W1-H05-pytest.txt
  goals/riso-lanes-assurance/evidence/W1-H06-changelog-full-stack.json
  goals/riso-lanes-assurance/evidence/W1-H07-catalog.json
  goals/riso-lanes-assurance/evidence/W1-H07-prompts.json
  goals/riso-lanes-assurance/evidence/W1-H08-context-sync.txt
  goals/riso-lanes-assurance/evidence/W1-OUT-default.json
  goals/riso-lanes-assurance/evidence/W1-OUT-go-mcp.json
  goals/riso-lanes-assurance/evidence/W1-OUT-mcp-typescript.json
  goals/riso-lanes-assurance/handoffs-board.md
  goals/riso-lanes-assurance/residuals/COORD.md
Due: none

fix(template): exclude unused rust/cli and rust/api trees
  template/copier.yml
Due: none

fix(template): omit empty optional python trees when disabled
  template/copier.yml
  template/hooks/post_gen_project.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Template Hooks

fix(hooks): normalize api_features as token list like CLI
  template/hooks/pre_gen_project.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Template Hooks

fix(template): gate electron and tauri desktop deep features
  goals/riso-lane-desktop/audit/AUDIT-20260728.md
  goals/riso-lane-desktop/handoffs/COORD-electron-forge-exclusions.md
  goals/riso-lane-desktop/handoffs/COORD-non-enum-desktop-features.md
  goals/riso-lanes-assurance/evidence/W2-DESKTOP-jinja.txt
  goals/riso-lanes-assurance/evidence/W2-DESKTOP-summary.md
  goals/riso-lanes-assurance/evidence/W2-DESKTOP-validate-electron-app.json
  goals/riso-lanes-assurance/evidence/W2-DESKTOP-validate-tauri-app.json
  template/files/electron/package.json.jinja
  template/files/tauri/README.md.jinja
  template/files/tauri/package.json.jinja
  template/files/tauri/src-tauri/Cargo.toml.jinja
  template/files/tauri/src-tauri/capabilities/default.json.jinja
  template/files/tauri/src-tauri/src/commands.rs.jinja
  template/files/tauri/src-tauri/src/main.rs.jinja
  template/files/tauri/src-tauri/src/menu.rs.jinja
  template/files/tauri/src-tauri/tauri.conf.json.jinja
  template/files/tauri/src/components/UpdateChecker.tsx.jinja
Due: none

fix(template): align non-SaaS Node MCP and api-node correctness
  goals/riso-lane-node/handoffs.md
  goals/riso-lanes-assurance/evidence/W2-NODE-circleci-node.json
  goals/riso-lanes-assurance/evidence/W2-NODE-docs-docusaurus.json
  goals/riso-lanes-assurance/evidence/W2-NODE-docs-fumadocs-full.json
  goals/riso-lanes-assurance/evidence/W2-NODE-docs-fumadocs.json
  goals/riso-lanes-assurance/evidence/W2-NODE-jinja-node.txt
  goals/riso-lanes-assurance/evidence/W2-NODE-jinja.txt
  goals/riso-lanes-assurance/evidence/W2-NODE-mcp-typescript.json
  goals/riso-lanes-assurance/evidence/W2-NODE-summary.md
  goals/riso-lanes-assurance/residuals/NODE.md
  template/files/node/apps/api-node/src/main.ts.jinja
  template/files/node/apps/api-node/tests/test_api_fastify.spec.ts.jinja
  template/files/node/docs/docusaurus/docs/modules/api-node.md.jinja
  template/files/node/docs/fumadocs/content/docs/modules/api-node.mdx.jinja
  template/files/node/mcp/package.json.jinja
  template/files/node/mcp/src/index.ts.jinja
  template/files/node/mcp/src/tools/http-fetch.ts.jinja
  template/files/node/mcp/tsup.config.ts.jinja
Due: none

fix(template): runtime-aware SAAS auth/billing and starter alignment
  template/files/node/saas/.env.example.jinja
  template/files/node/saas/.github/workflows/e2e.yml.jinja
  template/files/node/saas/config/env.ts.jinja
  template/files/node/saas/docs/ARCHITECTURE.md.jinja
  template/files/node/saas/docs/DEPLOYMENT.md.jinja
  template/files/node/saas/i18n/README.md.jinja
  template/files/node/saas/i18n/config.ts.jinja
  template/files/node/saas/i18n/index.ts.jinja
  template/files/node/saas/i18n/messages/en.json.jinja
  template/files/node/saas/i18n/messages/es.json.jinja
  template/files/node/saas/i18n/middleware.ts.jinja
  template/files/node/saas/i18n/types.ts.jinja
  template/files/node/saas/integrations/auth/authjs/auth.config.ts.jinja
  template/files/node/saas/integrations/auth/clerk/client.ts.jinja
  template/files/node/saas/integrations/auth/helpers.ts.jinja
  template/files/node/saas/integrations/billing/lemonsqueezy/client.ts.jinja
  template/files/node/saas/integrations/billing/lemonsqueezy/webhooks.ts.jinja
  template/files/node/saas/integrations/billing/paddle/client.ts.jinja
  template/files/node/saas/integrations/billing/paddle/webhooks.ts.jinja
  template/files/node/saas/integrations/billing/service.ts.jinja
  template/files/node/saas/integrations/billing/stripe/client.ts.jinja
  template/files/node/saas/integrations/billing/stripe/webhooks.ts.jinja
  template/files/node/saas/package.json.jinja
  template/files/saas-starter/README.md.jinja
  template/files/saas-starter/saas-starter.config.ts.jinja
Due: none

fix(template): modernize Go/Rust SYS scaffolds
  template/files/go/.air.toml.jinja
  template/files/go/Makefile.jinja
  template/files/go/README.md.jinja
  template/files/go/api/internal/server/server.go.jinja
  template/files/go/api/main.go.jinja
  template/files/go/cli/cmd/root.go.jinja
  template/files/go/cli/cmd/serve.go.jinja
  template/files/go/go.work.jinja
  template/files/go/internal/config/config.go.jinja
  template/files/go/internal/logger/logger.go.jinja
  template/files/go/justfile.jinja
  template/files/go/mcp/README.md.jinja
  template/files/go/mcp/go.mod.jinja
  template/files/rust/ARCHITECTURE.md.jinja
  template/files/rust/Cargo.toml.jinja
  template/files/rust/Makefile.jinja
  template/files/rust/QUICKSTART.md.jinja
  template/files/rust/README.md.jinja
  template/files/rust/api/handlers/health.rs.jinja
  template/files/rust/build.rs.jinja
  template/files/rust/justfile.jinja
  template/files/rust/mcp/Cargo.toml.jinja
  template/files/rust/src/main.rs.jinja
Due: none

test(template): align electron package.json tests with feature gates
  goals/riso-lanes-assurance/evidence/W2-DESKTOP-pytest-electron.txt
  goals/riso-lanes-assurance/residuals/DESKTOP.md
  tests/unit/test_electron_templates.py
Due: none

fix(cli): stabilize doctor envelope and expand unit coverage
  goals/riso-lanes-assurance/evidence/W2-CLI-doctor.json
  goals/riso-lanes-assurance/evidence/W2-CLI-join.txt
  goals/riso-lanes-assurance/evidence/W2-CLI-pytest.txt
  goals/riso-lanes-assurance/evidence/W2-CLI-validate-default.json
  src/riso/cli/commands/doctor.py
  tests/unit/test_cli/test_argv_normalize.py
  tests/unit/test_cli/test_doctor.py
  tests/unit/test_cli/test_output.py
  tests/unit/test_cli/test_prompts.py
  tests/unit/test_cli/test_recopy.py
  tests/unit/test_cli/test_validate.py
  tests/unit/test_cli/test_variants.py
Due: none

docs: record W2 SAAS verification evidence and empty residual
  goals/riso-lanes-assurance/evidence/W2-SAAS-T11-validate.jsonl
  goals/riso-lanes-assurance/evidence/W2-SAAS-combinations.json
  goals/riso-lanes-assurance/evidence/W2-SAAS-inventory-gates.tsv
  goals/riso-lanes-assurance/evidence/W2-SAAS-jinja.txt
  goals/riso-lanes-assurance/evidence/W2-SAAS-sweep.md
  goals/riso-lanes-assurance/residuals/SAAS.md
Due: none

fix(template): dual-gate GraphQL leaves and CLI package init
  template/files/python/src/{{ package_name }}/cli/__init__.py.jinja
  template/files/python/src/{{ package_name }}/graphql_api/auth.py.jinja
  template/files/python/src/{{ package_name }}/graphql_api/complexity.py.jinja
  template/files/python/src/{{ package_name }}/graphql_api/context.py.jinja
  template/files/python/src/{{ package_name }}/graphql_api/dataloaders.py.jinja
  template/files/python/src/{{ package_name }}/graphql_api/errors.py.jinja
  template/files/python/src/{{ package_name }}/graphql_api/mutations/user_mutations.py.jinja
  template/files/python/src/{{ package_name }}/graphql_api/pagination.py.jinja
  template/files/python/src/{{ package_name }}/graphql_api/queries/user_queries.py.jinja
  template/files/python/src/{{ package_name }}/graphql_api/subscriptions/user_subscriptions.py.jinja
  template/files/python/src/{{ package_name }}/graphql_api/types/post.py.jinja
  template/files/python/src/{{ package_name }}/graphql_api/types/user.py.jinja
Due: Template Files

fix(hooks): restore post_gen quality helper imports and mise trust
  samples/rust-api/copier-answers.yml
  samples/rust-cli/copier-answers.yml
  samples/rust-mcp/copier-answers.yml
  scripts/ci/render_matrix.py
  scripts/hooks/quality_tool_check.py
  scripts/hooks/workflow_validator.py
  tests/unit/ci/test_quality_tool_check.py
  tests/unit/ci/test_workflow_validator_import.py
  tests/unit/test_go_templates.py
Due: py3.11-standard, py3.11-strict, py3.12-standard, py3.12-strict, py3.13-standard, py3.13-strict, Scripts, CI/CD Scripts

fix(samples): normalize api_features multiselect to list form
  samples/api-monorepo/copier-answers.yml
  samples/api-python/copier-answers.yml
  samples/changelog-full-stack/copier-answers.yml
  samples/changelog-monorepo/copier-answers.yml
  samples/changelog-python/copier-answers.yml
  samples/circleci-node/copier-answers.yml
  samples/docs-docusaurus/copier-answers.yml
  samples/docs-fumadocs-full/copier-answers.yml
  samples/docs-sphinx/copier-answers.yml
  samples/full-stack/copier-answers.yml
  samples/gitlab-ci-python/copier-answers.yml
  samples/go-api/copier-answers.yml
Due: none

docs(docs): W4 ASSURANCE report and handoffs closeout
  goals/riso-lanes-assurance/ASSURANCE.md
  goals/riso-lanes-assurance/evidence/W4-A-T01-gates.md
  goals/riso-lanes-assurance/evidence/W4-A-T01-validate-spot.json
  goals/riso-lanes-assurance/evidence/W4-A-T03-pathlock.md
  goals/riso-lanes-assurance/evidence/W4-A-T04-riso-mcp.txt
  goals/riso-lanes-assurance/handoffs-board.md
  goals/riso-lanes-assurance/residuals/ASSURANCE.md
Due: none

docs(docs): record W3 PLATFORM evidence and residual ledger
  goals/riso-lanes-assurance/evidence/W3-PL-T01-answers-diff.md
  goals/riso-lanes-assurance/evidence/W3-PL-T04-go-templates.txt
  goals/riso-lanes-assurance/evidence/W3-PL-T05-validate-loop.jsonl
  goals/riso-lanes-assurance/evidence/W3-PL-T05-validate-summary.json
  goals/riso-lanes-assurance/evidence/W3-PL-T07-ci-pytest.txt
  goals/riso-lanes-assurance/evidence/W3-PL-T07-quality-tool-fix.txt
  goals/riso-lanes-assurance/evidence/W3-PL-T08-quality-parity.txt
  goals/riso-lanes-assurance/evidence/W3-PL-T09-partial-quality.txt
  goals/riso-lanes-assurance/evidence/W3-PL-T10-jinja-validate.txt
  goals/riso-lanes-assurance/residuals/PLATFORM.md
Due: none
